* {
  box-sizing: border-box;
}
body {
  font-family: 'Comfortaa', sans-serif;
  margin: 0;
  background-color: #f3f6fd;
  font-weight: 400;
}
.app {
  display: flex;
}
.logo {
  margin-bottom: 50px;
}
.panel {
  background: white;
  padding: 30px;
  min-height: 100vh;
}
.menu {
  display: flex;
  flex-direction: column;
  gap: 25px;
  align-items: center;
}
.menu__list {
  display: flex;
  flex-direction: column;
  gap: 25px;
  align-items: center;
}
.menu__item {
  border-radius: 14px;
  background: #fff;
  box-shadow: 0px 8px 14px 0px rgba(62, 107, 224, 0.12);
  border: none;
  height: 45px;
  width: 45px;
  cursor: pointer;
}
.menu__item:hover {
  background: #6a6afb;
}
.menu__item:hover img {
  filter: brightness(0) invert(1);
}

.menu__item_active {
  background: #5051f9;
}
.menu__item_active img {
  filter: brightness(0) invert(1);
}
.menu__add {
  background: none;
  border-radius: 14px;
  border: 1px solid #cad5ff;
  height: 45px;
  width: 45px;
  cursor: pointer;
}
.menu__add:hover {
  background: #eff2ff;
}
.content {
  min-width: 900px;
  padding: 45px;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

h1 {
  font-size: 30px;
  line-height: 33px;
  color: #000;
}
.progress {
  display: flex;
  flex-direction: column;
  gap: 12px;
  min-width: 235px;
}
.progress__text {
  display: flex;
  justify-content: space-between;
}
.progress__name {
  color: #232360;
  font-size: 14px;
  line-height: 16px;
}
.progress__percent {
  color: #768396;
  font-size: 12px;
  line-height: 13px;
}
.progress__bar {
  width: 100%;
  border-radius: 4px;
  height: 5px;
  position: relative;
  background: #e6e9ed;
}
.progress__cover-bar {
  position: absolute;
  transition: all 0.5s;
  /* width: 50%; */
  height: 5px;
  border-radius: 4px;
  background: #5051f9;
}
main {
  margin-top: 30px;
}
.habbit {
  border-radius: 10px;
  background: #fff;
  display: flex;
  align-items: center;
  margin-bottom: 12px;
}
.habbit__day {
  background: #fbfaff;
  border-radius: 10px 0 0 10px;
  border-right: 1px solid #e7ebfb;
  font-size: 14px;
  line-height: 16px;
  padding: 21px 40px;
  min-width: 150px;
}
.habbit__comment {
  font-size: 16px;
  line-height: 18px;
  padding: 20px 25px;
}
.habbit__delete {
  margin-left: auto;
  margin-right: 10px;
  background: none;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  padding: 2px;
}
.habbit__delete:hover {
  background: #eff2ff;
}

input {
  border-radius: 9px;
  border: 1px solid #e7ebfb;
  background: #fff;
  padding: 12px 20px;
  font-family: 'Comfortaa', sans-serif;
  flex: 1;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
}
input::placeholder {
  color: #8899a8;
}
input.error {
  border: 1px solid red;
}

.habbit__form {
  display: flex;
  gap: 15px;
  font-size: 16px;
  line-height: 18px;
  padding: 0px 10px 0px 25px;
  position: relative;
  width: 100%;
}
.input_icon {
  padding-left: 45px;
}
.input__icon {
  position: absolute;
  top: 11px;
  left: 45px;
}
.button {
  border-radius: 9px;
  background: #edecfe;
  border: none;
  color: #5051f9;
  font-family: Comfortaa;
  font-size: 13px;
  line-height: 14px;
  padding: 14px 30px;
  cursor: pointer;
}
.button:hover {
  background: #dcdaff;
}

.cover {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  background: rgba(0, 0, 0, 0.25);
  display: flex;
  align-items: center;
  justify-content: center;
}
.cover_hidden {
  display: none; 
}

.popup {
  border-radius: 10px;
  background: #fff;
  box-shadow: 0px 8px 14px 12px rgba(56, 56, 56, 0.05);
  max-width: 600px;
  padding: 20px;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
.popup__close {
  position: absolute;
  right: 15px;
  top: 15px;
  border: none;
  background: none;
  cursor: pointer;
}
h2 {
  font-size: 24px;
  font-weight: 400;
  line-height: 27px;
}

.icon_label {
  color: #768396;
  font-size: 14px;
  line-height: 16px;
  margin-bottom: 10px;
}

.icon_select {
  display: flex;
  gap: 25px;
  margin-bottom: 20px;
}

.icon {
  border-radius: 14px;
  border: 1px solid #5051f9;
  background: white;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 45px;
  height: 45px;
  cursor: pointer;
}
.icon:hover {
  background: #6a6af8;
}
.icon:hover img {
  filter: brightness(0) invert(1);
}
.icon_active {
  background: #5051f9;
}

.icon_active img {
  filter: brightness(0) invert(1);
}

.popup__form {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
}
.popup__form input{
  width: 100%;
}